{% extends 'base.html' %}

{% block content %}
    <section>
        <a href="{% url 'campaign-list' %}">Campaigns</a>
    </section>
    <section>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Campaign</th>
                    <th>Created</th>
                    <th>Your campaign key (if exists)</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in object_list %}
                    <tr>
                        <td><a href="{% url 'campaign-detail' campaign.id %}">{{ campaign.key }}</a></td>
                        <td>{{ campaign.created }}</td>
                        <td>
                            {% if not campaign.user_referrer_key %}
                                <a href="{% url 'campaign-new-referral' campaign.id %}">Request referral key</a>
                            {% else %}
                                {{ campaign.user_referrer_key }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}
